<html>
    <h1>Delete</h1>
    <form action="/delete" method="put">
		UserId: <input type="text" name="userId"><br>
		Name: <input type="text" name="name"><br>
        Age: <input type="text" name="age"><br>
        Weight: <input type="text" name="weight"><br>
        Height: <input type="text" name="height"><br>
        Medicine: <input type="text" name="medicine"><br>
		<input type="submit" value="Submit">
	</form>
</html>